<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Request Validation</title>
</head>
<body>
<!-- Header -->
<div th:insert="fragments :: header"></div>

<!-- Main Content -->
<div>
    <!-- Search button -->
    <div class="mb-4">
        <form th:action="@{pharmacist/validation_search}" method="get" class="form-inline">
            <input type="text" name="name" class="form-control mr-2" placeholder="Enter medicine name" required />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- cards -->

    <!-- from the search form -->
    <div th:if="${item} != null">
        <div class="card mb-4" onclick="goToCardInfo(${item.id})">
            <!-- The medicine image -->
            <img class="card-img-top" src="@{${item.imagePath}}" alt="item image">
            <div class="card-body">
                <!-- The medicine info -->
                <h5 class="card-title" th:text="${item.name}"></h5>
                <p class="card-text" th:text="${item.description}"></p>
                <p class="card-text"><small class="text-muted" th:text="${item.member.username}"></small></p>
            </div>
        </div>
    </div>

    <!-- not from search form -->
    <div th:if="${item} == null">
        <div class="row">
            <div th:if="${items} != null">
                <div class="col-md-4" th:each="item : ${items}">
                    <div class="card mb-4" onclick="goToCardInfo(${item.id})">
                        <!-- The medicine image -->
                        <img class="card-img-top" src="@{${item.imagePath}}" alt="item image">
                        <div class="card-body">
                            <!-- The medicine info -->
                            <h5 class="card-title" th:text="${item.name}"></h5>
                            <p class="card-text" th:text="${item.description}"></p>
                            <p class="card-text"><small class="text-muted" th:text="${item.member.username}"></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${items} == null">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <img src="/assets/default_medicine.jpg" alt="default_medicine" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Default item</h5>
                            <p class="card-text">No tems found</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- makes the cards clickable and navigate to cards info -->
    <script>
        function goToCardInfo(cardId) {
          // Navigate to cards_info.html with card ID in URL query params
          window.location.href = `cards_info.html?id=${cardId}`;
        }
    </script>
</div>

<!-- Footer -->
<div th:insert="fragments :: footer"></div>
</body>
</html>