<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<div>
    <h1>Welcome To Our Site!!</h1>
    <h2>You should Sign up, b***</h2>
</div>
<div>
    <form th:action="@{/users/signup}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" required>

        <label for="password">Password</label>
        <input id="password" name="password" required>

        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" required>

        <button type="submit"> Sign Up </button>

    </form>

    <div>
        <p>Already have an account? please <a th:href="/users/login">Login</a></p>
    </div>
</div>
</body>
</html>